<% if model.errors.any? %>
<div id="error_explanation" class="alert alert-warning">
    <ul class="mb-0">
        <% model.error.full_messages.each do |message| %>
        <li><%= massage %></li>
        <% end %>
    </ul>
</div>
<% end %>